@page "/Sobre"
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
        <title>Currículo Jeovana</title>

    </head>
    <body>
        <h3> Jeovana Knoblauch Rodrigues</h3>
        <p> Email: Knoblauchjeovana6@gmail.com</p>
    <img srcJEO="imagens/FotoCurriculoPDS.png" width="50" height="50" />
        <p> Telefone: (69) 99307-9522</p>
        <hr/>
        <h4>Formação</h4>
        <p> Curso Técnico em Informática - Instituto Federal</p>
        <p> Ensino médio - Instituto Federal de Rondônia / andamento</p>
        
        <h4> Experiência</h4>
        <p> Estágio em instalação e manutenção - FameJipa(2025)</p>

        <h4> Habilidades</h4>
        <p> HTML, CSS e JS</p>
        <p> Banco de dados</p>

    </body>
</html>

