@page "/Sobre"
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
        <title>Currículo Jeovana</title>

    </head>
    <body>
        <div class="cabecalho">
        <img src="imagens/FotoCurriculoPDS.png" alt="Foto de Jeovana" class=" foto" />
        <h3> Jeovana Knoblauch Rodrigues</h3>
        <p> Email: Knoblauchjeovana6@gmail.com</p>
        <p> Telefone: (69) 99307-9522</p>
        <p> Ji-Paraná - RO</p>
        <p>Estudande do cuso técnico de informática, no Instituto Federal de Rondônia </p>
        </div>
       
        <hr/>
        <h4>Formação</h4>
        <p> Curso Técnico em Informática - Instituto Federal</p>
        <p> Ensino médio - Instituto Federal de Rondônia / andamento</p>
        <hr/>
        <h4> Experiência</h4>
        <p> Estágio em instalação e manutenção - FameJipa(2025)</p>
        <hr/>
        <h4> Habilidades</h4>
        <p> HTML, CSS e JS</p>
        <p> Banco de dados</p>

    </body>
</html>

